.rendez{
    display: flex;
    justify-content: right;
    align-items: right;
    height: 30px;
    padding:50px;
     }
body {
    background-image: url('Hatter.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
h1{
    text-align: center;
}
.home,.login, .signup
{
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}