.gombok{
    display: flex;
    justify-content: right;
    align-items: right;
    height: 55px;
    padding:50px;
     }
body {
    background-image: url('Hatter.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
h1{
    color:white;
    text-align: center;
    margin-top: 7%;
}
.vasarlok, .eladok, .sign
{
    border-radius: 8px;
    color: white;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-right: 20px;
}
.vasarlok{
    background-color: rgb(76, 198, 141);
}
.eladok{
    background-color: rgb(112, 173, 71);
}
.sign{
    background-color: rgb(91, 155, 213);
}
.kosar{
    background:url(Kosar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px;
    margin-right: 15px;
}
.fiok{
    background:url(Fiok.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px;
    margin-right: 15px;
}

.frisskert-cim {
    text-shadow: 0 0 5px black;
}